[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
boto3 = "*"
botocore = "*"
awscli = "*"
langchain = "*"
colorama = "*"
deprecated = "*"
python-dotenv = "*"
pyarrow = "*"
google-generativeai = "*"

[dev-packages]

[requires]
python_version = "3.12"
